
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
.container-fluid{
    padding: 0px 50px;
}


/*============ navbar style =============*/
.navbar{
    padding: 10px 40px;
    display: flex !important;
    justify-content: space-between !important;
}
.navbar-brand img{
    width: 100px;
}
.navbar a{
    color: #2F987E;
}
#navbar-toggle{
    display: none;
}


/*-------------- banner style ------------*/
#banner{
    min-height: 90vh;
    width: 100%;
    background-image: url('./images/banner.JPG');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
}
.title-text{
    margin-bottom: 50px;
}
.banner-text{
    font-size: 18px;
    margin-bottom: 50px;
}
p{
    color: #A8A4A4;
}
.title-text img{
    width: 18px;
}
#banner h1{
    font-size: 55px;
    max-width: 862px;
    text-align: center;
}
.highlight{
    color: #10B88E;
}
.banner-text{
    max-width: 450px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

button{
    width: 150px;
    height: 40px;
    border: none;
    transition: all 1s ease;
    border-radius: 20px;
}
.learn-more-btn{
    border: none;
    border-radius: 20px;
    padding: 6px 20px;
    color: #CBE0E7;
    background-color: #2E2F4F;
}



/*=========== get quote style ==========*/
.get-quote{
    width: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -15%;
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 20px;
}
form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    
}
.form-group{
    margin: 10px;
}
.form-group label{
    font-weight: 500;
}
.btn-highlight{
    background-color: #10B88E;
    color: #fff;
}
button:hover{
    background-color: transparent;
    color: #2E2F4F;
    border: 1px solid #2E2F4F;
}


/*=============== clients section style =====*/
#clients{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clients-logo div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-logo img{
    min-width: 150px;
}


/*======= about section style =========*/
#about{
    padding: 80px 20px;
}
.about-heading{
    font-size: 55px;
    color: #2C5D60;
}
.about-text{
    max-width: 550px;
    font-size: 20px;
    color: #6B9D91;
    padding: 10px 0px;
}



/*======= features section style ==========*/
#features{
    padding: 80px 10px;
}
.box-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    z-index: 10;
    margin-bottom: 15px;
}
.box-item .box-title{
    max-width: 234px;
    font-size: 32px;
    margin: 20px 0px;
    margin-top: 50px;
}

.box-text{
    max-width: 310px;
    font-size: 20px;
}
.box-img{
    position: absolute;
    top: -25%;
    width: 150px;
    border: 20px solid #fafafa;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    z-index: 20;
}
.box-img img{
    width: 100%;
}

.box-img::before{
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 52%;
    left: -48px;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 #fafafa;
}
.box-img::after{
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 52%;
    right: -48px;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 #fafafa;
}



/*========= services section style ==========*/
#services{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/service-background.JPG');
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    position: relative;
    padding: 80px 10px;
}
.service-heading{
    font-size: 55px;
    color: #fff;
}
.service-text{
    font-size: 20px;
    color: #B6B8B7;
    max-width: 650px;
}
.service-contents{
    margin-top: 200px;
    position: absolute;
    bottom: -65%;
}
#services .box-item{
    min-width: 370px;
    position: relative;
}

.box-item .service-image{
    position: absolute;
    top: -35%;
}

.service-image img{
    min-width: 320px;
}
.service-title{
    font-size: 28px;
}
.service-price{
    font-size: 55px;
    color: #000;
    font-weight: 700;
}
.service-price span{
    font-size: 24px;
    color: #B6B8B7;
    font-weight: 300;
}
.service-category li{
    text-align: left;
    line-height: 40px;
}